<div class="icon-bar paddingTop50">
    <a class="iconItem" ng-click="navigate('home')"><i class="fa fa-home txtIcon"></i><span class="txtSpan">home</span></a>
    <a class="iconItem" ng-click="navigate('prenotazioni')"><i class="fa fa-ticket txtIcon"></i><span class="txtSpan">prenotazione</span></a>
    <a class="iconItem" ng-click="navigate('checkIn')"><i class="fa fa-sign-in txtIcon"></i><span
            class="txtSpan">check-in</span></a>
    <a class="iconItem" ng-click="navigate('checkOut')"><i class="fa fa-sign-out txtIcon"></i><span
            class="txtSpan">check-out</span></a>
    <a class="iconItem" ng-click="navigate('dashboard')"><i class="fa fa-tachometer txtIcon"></i><span
            class="txtSpan">dashboard</span></a>
</div>