.nomarginLeftRigth{
    margin-left: 0px;
    margin-right: 0px;
}
.noPaddingLeft{
    padding-left: 0px;
}
.noPaddingRigh{
    padding-right: 0px;
}
.paddingTop30{
    padding-top: 30px;
}

.marginTop10{
    margin-top: 10px;
}
.marginTop30{
    margin-top: 30px;
}
.marginTop50{
    margin-top: 50px;
}

.flexContainer{
    display: flex;
}
.flexMenu{
    flex-shrink:0;
}
.flexPage{
    display: flex;
    flex-direction:column;
}