.nomarginLeftRigth{
    margin-left: 0px;
    margin-right: 0px;
}
.nomarginBottom{
    margin-bottom: 0;
}
.noPaddingLeft{
    padding-left: 0px;
}
.noPaddingRigh{
    padding-right: 0px;
}
.paddingTop30{
    padding-top: 30px;
}

.paddingTop50{
    padding-top: 50px;
}

.marginTop10{
    margin-top: 10px;
}
.marginTop30{
    margin-top: 30px;
}
.marginTop50{
    margin-top: 50px;
}


/*color*/
.whiteBck{
    background-color: white;
}

/*text*/
.headerTable{
    font-size: 18px;
    font-weight: bold;
    color: #0B5FA5;
    text-shadow: 2px 2px 1px rgba(51, 122, 183, 0.23);
}

.flexContainer{
    display: flex;
    width: 100vw;
}
.flexMenu{
    flex-shrink:0;
}
.flexPage{
    display: flex;
    flex-direction:column;
    width: 100vw;
}

.navbar-default{
    background-color: #66A1D2;
    border-color: transparent;
}

.main{
    z-index: 1;
}

.subHeader{
    color: #0B5FA5;
    text-shadow:2px 2px 1px rgba(51, 122, 183, 0.23)
}

/*
tab*/
.md-content{
    background: transparent!important;
}