body {
    margin:0;
    height: 100vh;
}

.icon-bar {
    width: 50px;
    background-color: #555;
}

.icon-bar a {
    display: block;
    text-align: left;
    padding: 8px 0px;
    transition: all 0.3s ease;
    color: white;
    font-size: 2em;
    height: 50px;
}

.icon-bar a:hover {
    background-color: #000;
    width: 250px;
}

.active {
    background-color: #4CAF50 !important;
}

.iconItem{
    height: 40px;
}

.iconItem .txtIcon{
    float: left;
    clear: both;
}

.iconItem .txtSpan{
    float: left;
    font-size: 1em;
    padding-left: 10px;
    display: none;
}

.iconItem:hover .txtSpan{
    display:inherit;
}
.fa.txtIcon{
    padding-left: 10px;
}